<div class="container" fxLayout fxLayoutAlign="center">
  <mat-card fxFlex>
    <mat-card-header>
      <mat-card-title>
        Цены на посадочные места
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout fxLayoutAlign="space-evenly center">
        <div appPlacePrice #p="priceType" [id]="price.id" [val]="val" fxLayout="column" *ngFor="let price of prices; trackBy: track">
            <mat-form-field>
              <input matInput type="text" placeholder="Отделение" readonly value="{{getRoomName(price)}}" >
            </mat-form-field>
            <mat-form-field>
              <input matInput type="text" placeholder="Тип места" readonly value="{{getPlaceName(price)}}" >
            </mat-form-field>
            <mat-form-field>
              <input #val matInput class="right-align" type="number" placeholder="Цена" value="{{price.price}}">
              <span matSuffix>&#x20bd;</span>
            </mat-form-field>
        </div>
      </div>
      <div style="margin-top: 10px;" fxLayoutAlign="end">
        <button mat-raised-button style="margin-right: 5px" color="accent" (click)="reset()">Сбросить</button>
        <button mat-raised-button color="accent" (click)="changePrices()">Изменить</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
