<mat-nav-list>
  <h3 matSubheader>Отделения</h3>
  <a mat-list-item routerLinkActive="active-link" routerLink="/sittingplacesmen">Мужское</a>
  <a mat-list-item routerLinkActive="active-link" routerLink="/sittingplaceswomen">Женское</a>
  <h3 matSubheader>Настройки</h3>
  <a mat-list-item routerLinkActive="active-link" routerLink="/bathprice">ПМ и цены</a>
  <a mat-list-item routerLinkActive="active-link" routerLink="/products">Продукты</a>
  <a mat-list-item routerLinkActive="active-link" routerLink="/discount">Скидки</a>
  <h3 matSubheader>Статистика</h3>
  <a mat-list-item routerLinkActive="active-link" routerLink="/orders">Заказы</a>
</mat-nav-list>
