<div class="container" fxLayout="row" fxLayoutAlign="center">
  <mat-card fxFlex="660px">
    <mat-card-title fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="10px"><button mat-raised-button color="accent" (click)="createOrder()" [disabled]="alreadyTaken()">Создать заказ</button>
      <button mat-raised-button color="accent" (click)="freePlaces()" [disabled]="alreadyFree()">Освободить</button>
      <button mat-raised-button color="accent" (click)="addTime()" [disabled]="alreadyFree()">Добавить 30м</button>
      <button mat-raised-button color="accent" (click)="changePlaces()" [disabled]="!canChange()">Пересадить</button>
    </mat-card-title>
    <mat-card-content fxLayout="row" fxLayoutAlign="center center">
      <div class="vertical column2">
        <div fxLayout="row wrap" fxLayoutAlign="center center">
          <div appPlace #place="place" [name]="(57+i).toString()" [cab]="true" class="place cab" *ngFor="let p of places8; index as i;"
            [ngClass]="isFree(cell)">
            <div #cell class="cell">{{place.name}}</div>
            <div class="time-left">{{minuteToDate(durationMap.get((place.name).toString()))}}</div>
          </div>
        </div>
      </div>
      <div class="vertical column2">
        <div fxLayout="row wrap" fxLayoutAlign="center center">
          <div appPlace #place="place" [name]="(49+i).toString()" [cab]="true" class="place cab" *ngFor="let p of places8; index as i;"
            [ngClass]="isFree(cell)">
            <div #cell class="cell">{{place.name}}</div>
            <div class="time-left">{{minuteToDate(durationMap.get((place.name).toString()))}}</div>
          </div>
        </div>
      </div>
      <div class="vertical column2">
        <div fxLayout="row wrap" fxLayoutAlign="center center">
          <div appPlace #place="place" [name]="(48-i).toString()" [cab]="true" class="place cab" *ngFor="let p of places16; index as i;"
            [ngClass]="isFree(cell)">
            <div #cell class="cell">{{place.name}}</div>
            <div class="time-left">{{minuteToDate(durationMap.get((place.name).toString()))}}</div>
          </div>
        </div>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center">
        <div class="column4">
          <div fxLayout="row wrap">
            <div appPlace #place="place" [name]="(32-i).toString()" class="place even" *ngFor="let p of places8; index as i;"
              [ngClass]="isFree(cell)">
              <div #cell class="cell">{{place.name}}</div>
              <div class="time-left">{{minuteToDate(durationMap.get((place.name).toString()))}}</div>
            </div>
          </div>
        </div>
        <div class="column4">
          <div fxLayout="row wrap">
            <div appPlace #place="place" [name]="(24-i).toString()" class="place odd" *ngFor="let p of places8; index as i;"
              [ngClass]="isFree(cell)">
              <div #cell class="cell">{{place.name}}</div>
              <div class="time-left">{{minuteToDate(durationMap.get((place.name).toString()))}}</div>
            </div>
          </div>
        </div>
        <div class="column4">
          <div fxLayout="row wrap">
            <div appPlace #place="place" [name]="(16-i).toString()" class="place even" *ngFor="let p of places8; index as i;"
              [ngClass]="isFree(cell)">
              <div #cell class="cell">{{place.name}}</div>
              <div class="time-left">{{minuteToDate(durationMap.get((place.name).toString()))}}</div>
            </div>
          </div>
        </div>
        <div class="column4">
          <div fxLayout="row wrap">
            <div appPlace #place="place" [name]="(8-i).toString()" class="place odd" *ngFor="let p of places8; index as i;"
              [ngClass]="isFree(cell)">
              <div #cell class="cell">{{place.name}}</div>
              <div class="time-left">{{minuteToDate(durationMap.get((place.name).toString()))}}</div>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
